@model SistemaVentas.Models.categoria

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>¿Esta seguro que quiere eliminar la categoria?</h3>
<div>
    <hr />
    <table class="table table-bordered">
        <tr class="warning">
            <th>Codigo de la Categoria</th>
            <th>Descripción del Producto</th>
        </tr>
        <tr class="success">
            <td>@Html.DisplayFor(model => model.nombre)</td>
            <td>@Html.DisplayFor(model => model.descripcion)</td>
        </tr>
    </table>
 

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a href="/Categoria/Index" class="btn btn-success">Cancelar</a>
            </div>
    }
</div>
